@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body, html{
    padding: 0;
    margin: 0;
}

.content{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("beach_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40vw;
    min-height: 100%;
}

.credit{
    color: white;
    text-align: center;
}

.logo{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p{
    font-family: 'Amatic SC';
    font-size: 4rem;
}

.right{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.info{
    margin: 0;
    background-color: #f9fafb;
    padding: 2vh 5vh 5vh;
    font-family: Arial, serif;
    font-size: 1rem;
    font-weight: 700;
}

.input{
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 10px 20px -2px #8888;
}

.section div{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    gap: 5vw;
}

.section.password{
    flex-wrap: wrap;
}

.section div{
    flex-grow: 1;
}

.error-message{
    margin: 0;;
    flex-basis: 100%;
}

.log-in{
    display: inline;
    margin: 0;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.log-in a{
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

input{
    border: 3px solid #E5E7EB;
}

input:focus{
    outline: none;
    border: 2px solid #1e6cb9;
    box-shadow: 3px 3px #8888;
}

input.error{
    outline: none;
    border: 2px solid red;
    box-shadow: 3px 3px #8888;
}

.submit-button{
    padding: 0 3rem;
}

#create-account{
    border-radius: 5px;
    padding: 1rem 3rem;
    background-color: #596D48;
    color: white;
    font-weight: 800;
    font-size: 1rem;
}
